<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <style lang="css">li{ padding-bottom: 5px}</style>
</head>
<body>
    <table>
        <tbody>
            <tr>
                
                <td height="300px" width="300px">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td><h5>220.lv</h5></td>
                                <td>Meklēt</td>
                                <td>Grozs</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td width="120px">
                                                    <ul style="list-style: none; padding-left: 5px; padding-right: 30px;">
                                                        <li><h3>Sadaļas</h3></li>
                                                        <li>Sadzīves tehnika</li>
                                                        <li>Sporta preces</li>
                                                        <li>Apavi</li>
                                                        <li>Skaistums un veselība</li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td rowspan="2"><img src="duplo.jpeg" height="50px"></td>
                                                                <td colspan="2">Lego</td>
                                                               </tr>
                                                               <tr><td colspan="2">29.99</td></tr>
                                                               <tr>
                                                                   <td rowspan="2"><img src="zophone.jpg" height="50px"></td>
                                                                   <td colspan="2">Telefons</td>
                                                                  </tr>
                                                                  <tr><td colspan="2">349.99</td></tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>