body{
    margin: 0;
}

/* elements p, klase .class, identifikators #id */

.dzeltens{
    font-family: 'Poppins', sans-serif;
    color: #0d2e61;
    background-color: gold;
    margin: 0;
    padding: 20px;
}

.apraksts{
    font-size: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    text-align: center;
    background-color: #abb7c9;
    margin: 0;
}

h2:hover{
    color:red;
}